<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${question.title}"></title>
    <link rel="icon" href="images/logos/logo.png" >
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/community.css">
    <link rel="stylesheet" href="/css/editormd.preview.min.css">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/community.js"></script>
    <script src="/js/editormd.min.js" type="application/javascript"></script>
    <script src="/js/lib/marked.min.js"></script>
    <script src="/js/lib/prettify.min.js"></script>



</head>
<body>
<nav class="navbar navbar-default">
    <div th:insert="~{navigation :: nav}"></div>
    <div class="container-fluid main">
        <div class="row">
            <div class="col-lg-9 	col-md-12 col-sm-12 col-xs-12">
                <h3><span th:text="${question.title}"></span></h3>
                <hr>
                <!--头信息-->
                <span class="text-desc">
                作者：<span th:text="${question.user.name}"></span> |
                发布时间：<span th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd HH:mm')}"></span> |
                阅读数： <span th:text="${question.viewCount}"></span>
            </span>
                <hr>
                <!--正文-->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="question-view">
                    <textarea style="display:none;" th:text="${question.description}"></textarea>
                </div>
                <script type="text/javascript">
                    $(function () {
                        editormd.markdownToHTML("question-view", {});
                    });
                </script>
                <hr><hr>
                <!--这里ID方便JS取到值-->
                <input type="hidden" id="question_id" th:value="${question.id}">
                <!--这里是回复列表-->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h4>
                        <span th:text="${question.commentCount}"></span> 个回复
                    </h4>
                    <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comment-sp">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comments" th:each="comment : ${comments}">
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object img-rounded"
                                         th:src="${comment.user.avatarUrl}">
                                </a>
                            </div>


                            <div class="media-body" th:id="${'comment-body-'+comment.id}">
                                <h5 class="media-heading">
                                    <span th:text="${comment.user.name}"></span>
                                </h5>
                                <div th:text="${comment.content}"></div>
                                <div class="menu">
                                    <script>
                                        function addLike() {
                                            $("#up").html("1").css("color","yellow");
                                            alert("点赞了");

                                        }
                                    </script>
                                    <span id="up" onclick="addLike()" class="glyphicon glyphicon-thumbs-up icon" th:text="${comment.likeCount}"></span>
                                </span>
                                    <span class="pull-right"
                                          th:text="${#dates.format(comment.gmtCreate,'yyyy-MM-dd')}"></span>
                                </div>
                             </div>


                         </div>
                     </div>
                 </div>

                 <!--回复输入框-->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="comment_section">
                    <h4>
                        提交回复
                    </h4>
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object img-rounded"
                                     th:src="${session.user != null ? session.user.avatarUrl:'/images/default-avatar.png'}">
                            </a>
                        </div>
                        <div class="media-body">
                            <h5 class="media-heading">
                                <span th:text="${session.user != null ? session.user.name : '未登录用户'}"></span>
                            </h5>
                        </div>
                    </div>


                    <textarea class="form-control comment" rows="6" id="comment_content"></textarea>
                <button type="button" class="btn btn-success btn-comment" onclick="post()">回复</button>
                </div>
            </div>

            <!--右边-->
            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h4>发起人</h4>
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object img-rounded"
                                     th:src="${question.user.avatarUrl}">
                            </a>
                        </div>
                        <div class="media-body">
                            <h5 class="media-heading">
                                <span th:text="${question.user.name}"></span>
                            </h5>
                        </div>
                    </div>
                </div>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3>赞助广告</h3>
                <img th:src="'/images/ad.png'" width="300px" height="400px">

            </div>
            </div>
        </div>
    </div>
</nav>
<div th:insert="~{footer :: foot}"></div>
</body>
</html>